# Python-related
**__pycache__/
**.ipynb_checkpoints/
build/
dist/
eggs/

# Condor
**condor_log/
**.sub

# MacOS Index
**.DS_Store

# LaTeX 
*.aux
*.bbl
*.blg
*.bcf
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
main.pdf

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# Others
personal_notes/
**figures/
